In [1]:
##importar herramientas necesarias
import pandas as pd
##X Corresponde al nombre del archivo
##Y Corresponde al nombre que se usará luego en python
def abrir_archivo(X,Y):
    Y = pd.read_csv(X, on_bad_lines='skip')
    return Y

##X corresponde al archivo .csv ya abierto
##Y1, Y2, Y3 corresponden a los nombres de las columnas
##Z corresponde al nombre del resultado (no es muy relevante)
def ordenar_datos2(X, Y1, Y2, Z):
    X[[Y1,Y2]] = X[Y1+';'+Y2].str.split(';', expand=True)
    Z=X.drop([Y1+';'+Y2], axis = 1)
    return Z

##X corresponde al archivo .csv ya abierto
##Y1, Y2, Y3 corresponden a los nombres de las columnas
##Z corresponde al nombre del resultado (no es muy relevante)
def ordenar_datos3(X, Y1, Z, Y2, Y3):
    X[[Y1,Y2,Y3]] = X[Y1+';'+Y2+';'+Y3].str.split(';', expand=True)
    Z=X.drop([Y1+';'+Y2+';'+Y3], axis = 1)
    return Z

In [2]:
todas_las_lenguas = abrir_archivo('languages.csv', 'todas_las_lenguas')
values = abrir_archivo('values.csv', 'values')
lenguas_sudamerica_code= ['South America']
lenguas_sudamerica= todas_las_lenguas[todas_las_lenguas.Macroarea.isin(lenguas_sudamerica_code)]

# Introducir feature aquí

In [3]:
features_buscados = ['112A']

In [4]:
for item in features_buscados:
    value_por_lengua= values[values.Parameter_ID.isin(features_buscados)]
Lenguas_Sudamerica_Negacion = set(list(lenguas_sudamerica['ID'])) & set(list(value_por_lengua['Language_ID']))
Resultados_lengua= value_por_lengua[value_por_lengua.Language_ID.isin(Lenguas_Sudamerica_Negacion)]
Resultados_lengua

,ID,Language_ID,Parameter_ID,Value,Code_ID,Comment,Source,Example_ID
142,112A-abi,abi,112A,2,112A-2,NaN,Najlis-1966[passim],NaN
824,112A-acu,acu,112A,1,112A-1,NaN,"Fast-and-Fast-1981[23, 68]",NaN
2026,112A-alc,alc,112A,2,112A-2,NaN,Adelaar-2004[passim],NaN
2372,112A-amc,amc,112A,1,112A-1,NaN,"Russell-1975[21, 71, 76]",NaN
3142,112A-ana,ana,112A,6,112A-6,NaN,Pitman-1980[25],NaN
...,...,...,...,...,...,...,...,...
73516,112A-yag,yag,112A,2,112A-2,NaN,Payne-1990a[passim],NaN
73591,112A-yam,yam,112A,1,112A-1,NaN,Eakin-1991[38],NaN
75153,112A-yrm,yrm,112A,1,112A-1,NaN,Rivet-1942[36],NaN
75158,112A-yrr,yrr,112A,1,112A-1,NaN,NaN,NaN
76010,112A-zpr,zpr,112A,6,112A-6,NaN,Peeke-1962[passim],NaN

In [6]:
Parametros=dict([(1,0),(2,0),(3,0),(4,0),(5,0), (6,0), (7,0), (8,0), (9,0), (10,0)])
for key in Parametros.keys():
    Parametros[key]+=(list(Resultados_lengua['Value'])).count(key)
Parametros

{1: 71, 2: 26, 3: 3, 4: 3, 5: 1, 6: 11, 7: 0, 8: 0, 9: 0, 10: 0}

In [11]:
##Ejemplo de resultados, dependen del feature pero dejé la posibilidad de que fuera hasta el 10, en caso de ser más se puede agregar manualmente arriba
##Negative affix == 1
##Negative particle == 2
##Negative auxiliary verb == 3
##Negative word, unclear if verb or particle == 4
##Variation between negative word and affix == 5
##Double negation == 6