In [1]:
##importar herramientas necesarias
import pandas as pd
import lang2vec.lang2vec as l2v
##X Corresponde al nombre del archivo
##Y Corresponde al nombre que se usará luego en python
def abrir_archivo(X,Y):
    Y = pd.read_csv(X, on_bad_lines='skip')
    return Y

##X corresponde al archivo .csv ya abierto
##Y1, Y2, Y3 corresponden a los nombres de las columnas
##Z corresponde al nombre del resultado (no es muy relevante)
def ordenar_datos2(X, Y1, Y2, Z):
    X[[Y1,Y2]] = X[Y1+';'+Y2].str.split(';', expand=True)
    Z=X.drop([Y1+';'+Y2], axis = 1)
    return Z

##X corresponde al archivo .csv ya abierto
##Y1, Y2, Y3 corresponden a los nombres de las columnas
##Z corresponde al nombre del resultado (no es muy relevante)
def ordenar_datos3(X, Y1, Z, Y2, Y3):
    X[[Y1,Y2,Y3]] = X[Y1+';'+Y2+';'+Y3].str.split(';', expand=True)
    Z=X.drop([Y1+';'+Y2+';'+Y3], axis = 1)
    return Z

In [2]:
##abrir el archivo .csv
df = pd.read_csv(r'lenguas.csv')
##separar el .csv por ";" y generar dos columnas, una con el nombre de la lengua y otra con el isocode de la misma
df[['lengua','isocode']] = df['lengua;isocode'].str.split(';', expand=True)
##eliminar la columna sobrante (urgente simplificar código)
Lenguas_Andinas=df.drop(['lengua;isocode'], axis=1)
Lenguas_Andinas

                  lengua isocode
0           Media Lengua     mue
1                  shuar     jiv
2             mapudungun     arn
3                awa pit     kwi
4           epena pedee      sja
5       quechua huallaga     qub
6             chayahuita     cbt
7             chiriguano     gui
8                 achuar     acu
9               aguaruna     agr
10              huambisa     hub
11             allentiac
12              amahuaca     amc
13                araona     aro
14             atacameño     kuz
15                aymara     aym
16                  bari     mot
17               chimila     cbg
18                 cogui     kog
19                damana     mbp
20                   ika     arh
21                  kuna     kvn
22                muisca     msc
23                tunebo     tnd
24             capanahua     kaq
25                cayapa     cbi
26             guambiano     gum
27               tsafiki     cof
28                 catio     cto
29          embera chami     cmi
30                emberá     emp
31                yahgan     yag
32           gününa küne     pue
33               selknam     ona
34             tehuelche     teh
35                cholón     cht
36                 camsá     kbh
37               waunana     noa
38                  páez     pbb
39           esmeraldeño
40               mochica     omc
41                   uru     ure
42               chipaya     cap
43                  lule     smj
44               puquina     puq
45                jaqaru     jqr
46                  inga     inb
47     quechua ancashino     qxa
48    quechua ayacuchano     quy
49     quechua boliviano     qul
50  quechua cajamarqueño     qvc
51  quechua cochabambino     quh
52      quechua cuzqueño     quz
53                kichwa     qug
54      quechua imbabura     qvi
55         quechua tarma     qvn
56             millcayac

# Glottocode

In [3]:
GLOTTOCODE1= pd.read_csv(r'GLOTTOCODE.csv', on_bad_lines='skip')

In [4]:
##Separar columnas
GLOTTOCODE1[['GLOTTOCODE','Name','ISOCODE']] = GLOTTOCODE1['GLOTTOCODE;Name;ISOCODE'].str.split(';', expand=True)
##eliminar la columna sobrante (urgente simplificar código)
GLOTTOCODE = GLOTTOCODE1.drop(['GLOTTOCODE;Name;ISOCODE'], axis=1)
GLOTTOCODE

      GLOTTOCODE                 Name ISOCODE
0       3adt1234           3Ad-Tekles
1       aala1237               Aalawa
2       aant1238           Aantantara
3       aari1238           Aari-Gayil     aiz
4       aari1239                 Aari     aiw
...          ...                  ...     ...
26056   zuti1239  Guajajára of Zutiua
26057   zuwa1238              Zuwadza
26058   zwal1238                Zwall
26059   zyph1238                Zyphe     zyp
26060   zyud1238              Zyuzdin

[26061 rows x 3 columns]

In [5]:
huarpes = ['Millcayac','Allentiac']

In [6]:
GLOTTO_ISO1 = []
GLOTTO_ISO1 += set(list(Lenguas_Andinas['isocode'])) & set(list(GLOTTOCODE['ISOCODE']))
GLOTTO_ISO1 = list(filter(None, GLOTTO_ISO1))
GLOTTO_ISO1

['arh',
 'aro',
 'tnd',
 'quy',
 'emp',
 'noa',
 'qvc',
 'teh',
 'gum',
 'kbh',
 'pue',
 'gui',
 'kaq',
 'cof',
 'pbb',
 'quz',
 'hub',
 'kvn',
 'mue',
 'mbp',
 'quh',
 'cap',
 'cbi',
 'puq',
 'acu',
 'amc',
 'ure',
 'ona',
 'jiv',
 'cmi',
 'aym',
 'kog',
 'cto',
 'mot',
 'smj',
 'qub',
 'arn',
 'jqr',
 'kwi',
 'omc',
 'cbg',
 'msc',
 'inb',
 'sja',
 'kuz',
 'qul',
 'qug',
 'qvi',
 'cbt',
 'agr',
 'yag',
 'cht',
 'qvn',
 'qxa']

In [7]:
GLOTTO_ISO2 = GLOTTOCODE[GLOTTOCODE.ISOCODE.isin(GLOTTO_ISO1)]
GLOTTO_ISO2

      GLOTTOCODE                                       Name ISOCODE
105     achu1248                             Achuar-Shiwiar     acu
250     agua1253                                   Aguaruna     agr
543     amah1246                                   Amahuaca     amc
764     ango1257                          Angosturas Tunebo     tnd
940     arao1248                                     Araona     aro
1003    arhu1242                                    Arhuaco     arh
1294    awac1239                               Awa-Cuaiquer     kwi
1344    ayac1239                           Ayacucho Quechua     quy
1952    bari1297                                       Barí     mot
2900    bord1248                                Border Kuna     kvn
3409    caja1238                          Cajamarca Quechua     qvc
3461    cams1241                                      Camsá     kbh
3487    capa1241                                  Capanahua     kaq
3919    chac1249                                  Cha'palaa     cbi
4038    chay1248                                      Shawi     cbt
4134    chim1302  Bolivar-North Chimborazo Highland Quichua     qug
4135    chim1309                                    Chimila     cbg
4167    chip1262                                    Chipaya     cap
4169    chiq1249                    Chiquián Ancash Quechua     qxa
4224    chol1284                                     Cholón     cht
4417    cogu1240                                      Cogui     kog
4428    colo1256                                    Tsafiki     cof
4580    cusc1236                              Cusco Quechua     quz
5676    east2555                   Eastern Bolivian Guaraní     gui
6043    embe1260                               Emberá-Catío     cto
6045    embe1262                               Emberá-Chamí     cmi
6117    epen1239                                      Epena     sja
7246    guam1248                                  Guambiano     gum
8010    hual1241                   Huallaga Huánuco Quechua     qub
8011    huam1247                                   Huambisa     hub
8344    imba1240                  Imbabura Highland Quichua     qvi
8415    inga1252                             Colombian Inga     inb
8770    jaqa1244                                     Jaqaru     jqr
11095   kunz1244                                      Kunza     kuz
12393   lule1254                                 Lule Saami     smj
12837   mala1522                                     Malayo     mbp
13186   mapu1245                                 Mapudungun     arn
13692   medi1245                               Media Lengua     mue
14186   moch1259                                    Mochica     omc
16129   nort2972                            Northern Emberá     emp
16132   nort2976                     North Bolivian Quechua     qul
16136   nort2980                        North Junín Quechua     qvn
16833   nucl1667                    Central-Southern Aymara     aym
17486   onaa1245                                   Selk'nam     ona
17757   paez1247                                       Páez     pbb
18652   puel1244                                    Puelche     pue
18712   puqu1242                                    Puquina     puq
19659   sank1253                           Sankaran Maninka     msc
20353   shua1257                                      Shuar     jiv
21164   sout2991                     South Bolivian Quechua     quh
22296   tehu1242                                  Tehuelche     teh
23797   uruu1244                                        Uru     ure
25140   woun1238                                   Woun Meu     noa
25394   yama1264                                     Yámana     yag

In [8]:
GLOTTO_ISO3 = []
GLOTTO_ISO3 = GLOTTOCODE[GLOTTOCODE.Name.isin(huarpes)]

In [9]:
GLOTTO_ISO_MEZCLA = [GLOTTO_ISO2, GLOTTO_ISO3]

In [10]:
GLOTTO_ISO = pd.concat(GLOTTO_ISO_MEZCLA)
GLOTTO_ISO

      GLOTTOCODE                                       Name ISOCODE
105     achu1248                             Achuar-Shiwiar     acu
250     agua1253                                   Aguaruna     agr
543     amah1246                                   Amahuaca     amc
764     ango1257                          Angosturas Tunebo     tnd
940     arao1248                                     Araona     aro
1003    arhu1242                                    Arhuaco     arh
1294    awac1239                               Awa-Cuaiquer     kwi
1344    ayac1239                           Ayacucho Quechua     quy
1952    bari1297                                       Barí     mot
2900    bord1248                                Border Kuna     kvn
3409    caja1238                          Cajamarca Quechua     qvc
3461    cams1241                                      Camsá     kbh
3487    capa1241                                  Capanahua     kaq
3919    chac1249                                  Cha'palaa     cbi
4038    chay1248                                      Shawi     cbt
4134    chim1302  Bolivar-North Chimborazo Highland Quichua     qug
4135    chim1309                                    Chimila     cbg
4167    chip1262                                    Chipaya     cap
4169    chiq1249                    Chiquián Ancash Quechua     qxa
4224    chol1284                                     Cholón     cht
4417    cogu1240                                      Cogui     kog
4428    colo1256                                    Tsafiki     cof
4580    cusc1236                              Cusco Quechua     quz
5676    east2555                   Eastern Bolivian Guaraní     gui
6043    embe1260                               Emberá-Catío     cto
6045    embe1262                               Emberá-Chamí     cmi
6117    epen1239                                      Epena     sja
7246    guam1248                                  Guambiano     gum
8010    hual1241                   Huallaga Huánuco Quechua     qub
8011    huam1247                                   Huambisa     hub
8344    imba1240                  Imbabura Highland Quichua     qvi
8415    inga1252                             Colombian Inga     inb
8770    jaqa1244                                     Jaqaru     jqr
11095   kunz1244                                      Kunza     kuz
12393   lule1254                                 Lule Saami     smj
12837   mala1522                                     Malayo     mbp
13186   mapu1245                                 Mapudungun     arn
13692   medi1245                               Media Lengua     mue
14186   moch1259                                    Mochica     omc
16129   nort2972                            Northern Emberá     emp
16132   nort2976                     North Bolivian Quechua     qul
16136   nort2980                        North Junín Quechua     qvn
16833   nucl1667                    Central-Southern Aymara     aym
17486   onaa1245                                   Selk'nam     ona
17757   paez1247                                       Páez     pbb
18652   puel1244                                    Puelche     pue
18712   puqu1242                                    Puquina     puq
19659   sank1253                           Sankaran Maninka     msc
20353   shua1257                                      Shuar     jiv
21164   sout2991                     South Bolivian Quechua     quh
22296   tehu1242                                  Tehuelche     teh
23797   uruu1244                                        Uru     ure
25140   woun1238                                   Woun Meu     noa
25394   yama1264                                     Yámana     yag
493     alle1238                                  Allentiac
13997   mill1237                                  Millcayac

In [11]:
quechuas = ['quy', 'quh', 'qvn' ,'qul', 'qvi', 'qub', 'quz', 'qxa', 'qug', 'qvc']

In [12]:
quechuas_todo = []

In [13]:
GLOTTO_quechua = []
GLOTTO_quechua = GLOTTOCODE[GLOTTOCODE.ISOCODE.isin(quechuas)]
GLOTTO_quechua

      GLOTTOCODE                                       Name ISOCODE
1344    ayac1239                           Ayacucho Quechua     quy
3409    caja1238                          Cajamarca Quechua     qvc
4134    chim1302  Bolivar-North Chimborazo Highland Quichua     qug
4169    chiq1249                    Chiquián Ancash Quechua     qxa
4580    cusc1236                              Cusco Quechua     quz
8010    hual1241                   Huallaga Huánuco Quechua     qub
8344    imba1240                  Imbabura Highland Quichua     qvi
16132   nort2976                     North Bolivian Quechua     qul
16136   nort2980                        North Junín Quechua     qvn
21164   sout2991                     South Bolivian Quechua     quh

# URIEL

In [14]:
lenguas_en_URIEL = []
lenguas_en_URIEL += set(list(Lenguas_Andinas['isocode'])) & l2v.URIEL_LANGUAGES
Resultados_URIEL = Lenguas_Andinas[Lenguas_Andinas.isocode.isin(lenguas_en_URIEL)]
Resultados_URIEL

                  lengua isocode
1                  shuar     jiv
2             mapudungun     arn
3                awa pit     kwi
4           epena pedee      sja
5       quechua huallaga     qub
6             chayahuita     cbt
7             chiriguano     gui
8                 achuar     acu
9               aguaruna     agr
10              huambisa     hub
12              amahuaca     amc
13                araona     aro
14             atacameño     kuz
15                aymara     aym
16                  bari     mot
17               chimila     cbg
18                 cogui     kog
19                damana     mbp
20                   ika     arh
21                  kuna     kvn
23                tunebo     tnd
24             capanahua     kaq
25                cayapa     cbi
26             guambiano     gum
27               tsafiki     cof
28                 catio     cto
29          embera chami     cmi
30                emberá     emp
31                yahgan     yag
32           gününa küne     pue
33               selknam     ona
34             tehuelche     teh
35                cholón     cht
36                 camsá     kbh
37               waunana     noa
38                  páez     pbb
40               mochica     omc
41                   uru     ure
42               chipaya     cap
45                jaqaru     jqr
46                  inga     inb
47     quechua ancashino     qxa
48    quechua ayacuchano     quy
49     quechua boliviano     qul
50  quechua cajamarqueño     qvc
51  quechua cochabambino     quh
52      quechua cuzqueño     quz
53                kichwa     qug
54      quechua imbabura     qvi
55         quechua tarma     qvn

# SSWL

In [15]:
##abrir el archivo .csv preparado
SSWL= pd.read_csv(r'SSWL.csv', on_bad_lines='skip')

In [16]:
##preparar una lista con los datos con un formato similar al entregado por el corpus
para_SSWL = []
for item in list(Lenguas_Andinas['lengua']):
    para_SSWL += [item.capitalize()]

In [17]:
##buscar los elementos comunes con los nombres de las lenguas
print("Elementos comunes", set(list(GLOTTOCODE['ISOCODE'])) & set(list(SSWL['Name'])))
##buscar manualmente el quechua (siempre está, pero es necesario automatizar... quizá sea necesario estandarizar los datos de glottocode)

Elementos comunes set()

In [18]:
##otra propuesta a tratar de automatizar
Búsqueda_por_nombre = set(list(GLOTTO_ISO['Name'])) & set(list(SSWL['Name']))
Búsqueda_por_nombre

set()

# Lyon–Albuquerque Phonological Systems Database (LAPSyD)

In [19]:
##abrir el archivo .csv
LAPSyD= abrir_archivo('LAPSyD.csv','LAPSyD')
LAPSyD = ordenar_datos2(LAPSyD,'Language','ISOCODE','LAPSyD')

In [20]:
lenguas_en_LAPSyD = []
lenguas_en_LAPSyD += set(list(Lenguas_Andinas['isocode'])) & set(list(LAPSyD['ISOCODE']))
lenguas_en_LAPSyD

['cof',
 'pbb',
 'cbg',
 'arh',
 'hub',
 'inb',
 'cmi',
 'sja',
 'kuz',
 'kog',
 'kwi',
 'mbp',
 'teh',
 'gum',
 'kbh',
 'cbi',
 'amc',
 'arn']

In [21]:
Resultados_LAPSyD = Lenguas_Andinas[Lenguas_Andinas.isocode.isin(lenguas_en_LAPSyD)]
Resultados_LAPSyD

          lengua isocode
2     mapudungun     arn
3        awa pit     kwi
4   epena pedee      sja
10      huambisa     hub
12      amahuaca     amc
14     atacameño     kuz
17       chimila     cbg
18         cogui     kog
19        damana     mbp
20           ika     arh
25        cayapa     cbi
26     guambiano     gum
27       tsafiki     cof
29  embera chami     cmi
34     tehuelche     teh
36         camsá     kbh
38          páez     pbb
46          inga     inb

# PHOIBLE

In [22]:
##abrir el archivo .csv y separar por columnas
PHOIBLE= abrir_archivo('PHOIBLE.csv','PHOIBLE')
PHOIBLE = ordenar_datos3(PHOIBLE,'Glottocode','PHOIBLE','ISO6393','LanguageName')
PHOIBLE

       Glottocode ISO6393        LanguageName
0        kore1280     kor              Korean
1        kore1280     kor              Korean
2        kore1280     kor              Korean
3        kore1280     kor              Korean
4        kore1280     kor              Korean
...           ...     ...                 ...
104654   lamu1254     lby  Tableland Lamalama
104655   lamu1254     lby  Tableland Lamalama
104656   lamu1254     lby  Tableland Lamalama
104657   lamu1254     lby  Tableland Lamalama
104658   lamu1254     lby  Tableland Lamalama

[104659 rows x 3 columns]

In [23]:
Lenguas_en_PHOIBLE = set(list(GLOTTO_ISO['ISOCODE'])) & set(list(PHOIBLE['ISO6393']))
Lenguas_en_PHOIBLE

{'acu',
 'agr',
 'amc',
 'arh',
 'arn',
 'aro',
 'cap',
 'cbg',
 'cbi',
 'cbt',
 'cht',
 'cmi',
 'cof',
 'cto',
 'emp',
 'gui',
 'gum',
 'hub',
 'inb',
 'jiv',
 'jqr',
 'kaq',
 'kbh',
 'kog',
 'kuz',
 'kvn',
 'kwi',
 'mbp',
 'mot',
 'noa',
 'omc',
 'ona',
 'pbb',
 'pue',
 'qub',
 'qug',
 'quh',
 'qul',
 'quy',
 'quz',
 'qvc',
 'qvi',
 'qvn',
 'sja',
 'teh',
 'ure',
 'yag'}

In [24]:
Resultados_PHOIBLE = Lenguas_Andinas[Lenguas_Andinas.isocode.isin(Lenguas_en_PHOIBLE)]
Resultados_PHOIBLE

                  lengua isocode
1                  shuar     jiv
2             mapudungun     arn
3                awa pit     kwi
4           epena pedee      sja
5       quechua huallaga     qub
6             chayahuita     cbt
7             chiriguano     gui
8                 achuar     acu
9               aguaruna     agr
10              huambisa     hub
12              amahuaca     amc
13                araona     aro
14             atacameño     kuz
16                  bari     mot
17               chimila     cbg
18                 cogui     kog
19                damana     mbp
20                   ika     arh
21                  kuna     kvn
24             capanahua     kaq
25                cayapa     cbi
26             guambiano     gum
27               tsafiki     cof
28                 catio     cto
29          embera chami     cmi
30                emberá     emp
31                yahgan     yag
32           gününa küne     pue
33               selknam     ona
34             tehuelche     teh
35                cholón     cht
36                 camsá     kbh
37               waunana     noa
38                  páez     pbb
40               mochica     omc
41                   uru     ure
42               chipaya     cap
45                jaqaru     jqr
46                  inga     inb
48    quechua ayacuchano     quy
49     quechua boliviano     qul
50  quechua cajamarqueño     qvc
51  quechua cochabambino     quh
52      quechua cuzqueño     quz
53                kichwa     qug
54      quechua imbabura     qvi
55         quechua tarma     qvn

In [25]:
PHOIBLE_quechua = []
PHOIBLE_quechua = PHOIBLE[PHOIBLE.ISO6393.isin(quechuas)]
PHOIBLE_quechua

      Glottocode ISO6393  LanguageName
3738    sout2991     quh       Quechua
3739    sout2991     quh       Quechua
3740    sout2991     quh       Quechua
3741    sout2991     quh       Quechua
3742    sout2991     quh       Quechua
...          ...     ...           ...
71670   nort2980     qvn  Yaru Quechua
71671   nort2980     qvn  Yaru Quechua
71672   nort2980     qvn  Yaru Quechua
71673   nort2980     qvn  Yaru Quechua
71674   nort2980     qvn  Yaru Quechua

[321 rows x 3 columns]

# WOLD

In [26]:
WOLD = abrir_archivo('WOLD.csv', 'WOLD')

In [27]:
WOLD = ordenar_datos3(WOLD,'Name','WOLD','GLOTTOCODE','ISOCODE')
WOLD

          Name GLOTTOCODE ISOCODE
0      Swahili   swah1253     swh
1        Iraqw   iraq1241     irk
2      Gawwada   gaww1239     gwd
3        Hausa   haus1257     hau
4       Kanuri   cent2050     knc
..         ...        ...     ...
390     Tongan   tong1325     ton
391     Samoan   samo1305     smo
392  Marquesan   sout2866     mqm
393   Croatian   croa1245     hrv
394        Twi                twi

[395 rows x 3 columns]

In [29]:
lenguas_en_WOLD = []
lenguas_en_WOLD += set(list(GLOTTO_ISO['ISOCODE'])) & set(list(WOLD['ISOCODE']))
Resultados_en_WOLD = GLOTTO_ISO[GLOTTO_ISO.ISOCODE.isin(lenguas_en_WOLD)]

      GLOTTOCODE                       Name ISOCODE
4580    cusc1236              Cusco Quechua     quz
8344    imba1240  Imbabura Highland Quichua     qvi
13186   mapu1245                 Mapudungun     arn
18652   puel1244                    Puelche     pue
493     alle1238                  Allentiac
13997   mill1237                  Millcayac

In [ ]:
##es necesario hacer una pesquisa manual más a profundidad

# Intercontinental Dictionary Series (IDS)

In [32]:
IDS= abrir_archivo('IDS.csv','IDS')
IDS = ordenar_datos3(IDS,'Name','IDS','GLOTTOCODE','ISOCODE')

In [33]:
lenguas_en_IDS = []
lenguas_en_IDS += set(list(GLOTTO_ISO['GLOTTOCODE'])) & set(list(IDS['GLOTTOCODE']))
Resultados_en_IDS = GLOTTO_ISO[GLOTTO_ISO.GLOTTOCODE.isin(lenguas_en_IDS)]
Resultados_en_IDS

      GLOTTOCODE                      Name ISOCODE
250     agua1253                  Aguaruna     agr
940     arao1248                    Araona     aro
1952    bari1297                      Barí     mot
3919    chac1249                 Cha'palaa     cbi
4167    chip1262                   Chipaya     cap
4428    colo1256                   Tsafiki     cof
5676    east2555  Eastern Bolivian Guaraní     gui
6117    epen1239                     Epena     sja
11095   kunz1244                     Kunza     kuz
13186   mapu1245                Mapudungun     arn
16129   nort2972           Northern Emberá     emp
17486   onaa1245                  Selk'nam     ona
17757   paez1247                      Páez     pbb
18652   puel1244                   Puelche     pue
22296   tehu1242                 Tehuelche     teh
25394   yama1264                    Yámana     yag

# Automated Similarity Judgment Program (ASJP)

In [34]:
ASJP= abrir_archivo('ASJP.csv','ASJP')
ASJP = ordenar_datos2(ASJP,'Glottocode','ISO639P3code','ASJP')
ASJP

     Glottocode ISO639P3code
0      lefa1242          lfa
1      lefa1242          lfa
2      lefa1242          lfa
3      bafi1243          ksf
4      tibe1274          ngy
...         ...          ...
9783   zulu1248          zul
9784   zulu1248          zul
9785   zumb1240          jmb
9786   zuni1245          zun
9787   zayy1238          zwa

[9788 rows x 2 columns]

In [55]:
lenguas_en_ASJP = []
lenguas_en_ASJP += set(list(GLOTTO_ISO['ISOCODE'])) & set(list(ASJP['ISO639P3code']))
Resultados_en_ASJP = GLOTTO_ISO[GLOTTO_ISO.ISOCODE.isin(lenguas_en_ASJP)]
len(Resultados_en_ASJP)

53

In [36]:
"kuz" in Resultados_en_ASJP['ISOCODE']

False

# AUTOTYP

In [38]:
AUTOTYP= abrir_archivo('autotyp.csv','AUTOTYP')
AUTOTYP= ordenar_datos2(AUTOTYP,'ISO639.3','language','AUTOTYP')
AUTOTYP

     ISO639.3                 language
0         naq                     Nama
1         knw                    !Kung
2         hts                    Hadza
3         sad                  Sandawe
4         kwz                    Kwadi
...       ...                      ...
2914      mpj              Wangkajunga
2915      hmb  Songhay (Humburi Senni)
2916      bfn                    Bunak
2917      mtj                  Moskona
2918                       Irish (Old)

[2919 rows x 2 columns]

In [54]:
lenguas_en_AUTOTYP = []
lenguas_en_AUTOTYP += set(list(GLOTTO_ISO2['ISOCODE'])) & set(list(AUTOTYP['ISO639.3']))
Resultados_en_AUTOTYP = GLOTTO_ISO2[GLOTTO_ISO2.ISOCODE.isin(lenguas_en_AUTOTYP)]
len(Resultados_en_AUTOTYP)

45

In [53]:
"Kunza" in Resultados_en_AUTOTYP['Name']

False

In [46]:
Resultados_en_AUTOTYP['ISOCODE']

105      acu
250      agr
543      amc
940      aro
1003     arh
1294     kwi
1344     quy
1952     mot
2900     kvn
3409     qvc
3461     kbh
3487     kaq
3919     cbi
4038     cbt
4135     cbg
4167     cap
4224     cht
4417     kog
4428     cof
4580     quz
5676     gui
6043     cto
6045     cmi
6117     sja
7246     gum
8010     qub
8011     hub
8415     inb
8770     jqr
11095    kuz
12393    smj
12837    mbp
13186    arn
14186    omc
16129    emp
17486    ona
17757    pbb
18652    pue
18712    puq
20353    jiv
21164    quh
22296    teh
23797    ure
25140    noa
25394    yag
Name: ISOCODE, dtype: object

# ValPal

In [41]:
ValPal= abrir_archivo('ValPal.csv','ValPal')
ValPal= ordenar_datos3(ValPal,'Name','ValPal','Glottocode','ISOCODE')
lenguas_en_ValPal = []
lenguas_en_ValPal += set(list(GLOTTO_ISO2['ISOCODE'])) & set(list(ValPal['ISOCODE']))
Resultados_en_ValPal = GLOTTO_ISO2[GLOTTO_ISO2.ISOCODE.isin(lenguas_en_ValPal)]
Resultados_en_ValPal

      GLOTTOCODE        Name ISOCODE
13186   mapu1245  Mapudungun     arn